.center-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px
}

input {
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: border 0.3s;
}

input:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 650px) {
    .center-container {
        flex-direction: column;
        gap: 10px
    }

    input,
    button {
        width: 100%;
        box-sizing: border-box;
    }
}

/* Style for Current Weather and Forecast */
.weather-info {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather-info h2 {
    color: #007BFF;
}

.weather-info p {
    margin: 10px 0;
    font-size: 16px;
}

.weather-info ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    list-style-type: none;
    padding: 0;
}

.weather-info li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for All Cities */

.cities-container {
    padding: 20px;
}

.cities-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.city-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1200px) {

    .weather-info ul,
    .cities-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {

    .weather-info ul,
    .cities-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {

    .weather-info ul,
    .cities-grid {
        grid-template-columns: 1fr;
    }
}